@font-face {
  font-family: 'ClearSans';
  font-weight: 400;
  src: local('ClearSans'),
    url(./assets/fonts/ClearSans-Regular.ttf) format('opentype');
}

#modal-touch {
  position: fixed;
  inset: 0px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(216, 216, 216, 0.5);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  z-index: 9998;
}

#modal-touch_tooltip {
  width: 210px;
  height: auto;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  z-index: 9999;
}
.display-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.add {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  font-weight: bold;
}
.modal-touch-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 12px;
  border-top: 1px solid rgba(216, 216, 216, 0.5);
}
.modal-touch-item.delete svg {
  width: 20px;
  height: 20px;
}
.modal-touch-item.delete svg path {
  fill: rgba(255, 3, 102, 1)
}
.modal-touch-item:first-child {
  border-top: none;
}

.modal-touch-item:last-child {
  border-top: 5px solid rgba(255, 255, 255, 0.5);
}
.label {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  z-index: 3;
}

.label span {
  position: absolute;
  color: rgba(0, 0, 0, 0.88);
  font-weight: 700;
  font-size: 10px;
  z-index: 33;
}
.wrapper-item-dapp{
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.item-dapp {
  width: 60px;
  height: 60px;
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.05);
  border-radius: 18px;
  object-fit: cover;
}
.item-dapp-text {
  font-family: 'ClearSans';
  text-align: center;
  font-weight: 400;
  font-size: 11px;
  line-height: 15px;
  margin-top: 5px;
  text-align: center;
  letter-spacing: -0.165px;
  color: #04004d;
  white-space: nowrap;
  width: 60px;
  display: inline-block;
}
.item-frame {
  /* background: radial-gradient(76.87% 41.47% at 40.28% 44.35%, rgba(162, 89, 255, 0.8) 0%, rgba(180, 215, 234, 0) 100%), radial-gradient(43.36% 35.57% at 11.8% 91.72%, rgba(162, 89, 255, 0.8) 0%, rgba(177, 185, 213, 0) 100%), radial-gradient(100.16% 72.25% at 27.03% 33.61%, rgba(162, 89, 255, 0.6) 0%, rgba(164, 174, 230, 0.38) 62.09%, rgba(96, 155, 235, 0.47) 100%);
  backdrop-filter: blur(20px);

  border-radius: 18px; */
}
.icon-frame {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 12px;
  box-shadow: inset 0px 7.28412px 10.4592px -6.7238px rgb(255 255 255 / 50%), inset 0px -2.42804px 1.68095px -2.61481px rgb(255 255 255 / 75%), inset 0px 1.30741px 2.0545px -0.747089px #ffffff, inset 0px -15.3153px 12.7005px -11.9534px rgb(96 68 145 / 30%), inset 0px 18.3037px 18.6772px -8.96507px rgb(202 172 255 / 30%), inset 0px 0.747089px 3.3619px rgb(154 146 210 / 30%), inset 0px 0.186772px 7.47089px rgb(227 222 255 / 20%);
  pointer-events: none;
}

.icon-navigation {
  width: 30px;
  height: 30px;
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(4px);
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 0px 7.28412px 10.4592px -6.7238px rgba(255, 255, 255, 0.5), inset 0px -1px 1.68095px -2.61481px rgba(255, 255, 255, 0.75), inset 0px 1.30741px 2.0545px -0.747089px #FFFFFF, inset 0px -15.3153px 12.7005px -11.9534px rgba(96, 68, 145, 0.3), inset 0px 18.3037px 18.6772px -8.96507px rgba(202, 172, 255, 0.3), inset 0px 0.747089px 3.3619px rgba(154, 146, 210, 0.3), inset 0px 0.186772px 7.47089px rgba(227, 222, 255, 0.2);
}
.icon-navigation.right {
  position: absolute;
  right: 15px;
}
.icon-navigation.left {
  position: absolute;
  left: 15px;
}

.icon-navigation.right.noPortrait {
  right: 15px;
  top: 10px;
}
.icon-navigation.left.noPortrait {
  right: 15px;
  bottom: 10px;
  left: unset;
}

.btn-cancel {
  position: absolute;
  left: 15px;
  width: 64px;
  height: 30px;
  z-index: 1;
}
.btn-cancel.noPortrait {
  right: 15px;
  bottom: 10px;
  left: unset;
}
.btn-cancel::after {
  content: '';
  position: absolute;
  top: -2px;
  right: -2px;
  left: -2px;
  bottom: -2px;
  background: radial-gradient(76.87% 41.47% at 40.28% 44.35%, rgba(255, 3, 102, 0.94) 0%, rgba(180, 215, 234, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, radial-gradient(43.36% 35.57% at 11.8% 91.72%, rgba(255, 3, 102, 0.6) 0%, rgba(177, 185, 213, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, radial-gradient(100.16% 72.25% at 27.03% 33.61%, #FF0366 0%, rgba(164, 174, 230, 0.38) 62.09%, rgba(96, 155, 235, 0.47) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  filter: blur(4px);
  border-radius: 24px;
    display: inline-block;
  z-index: -1;
}
.btn-done {
  position: absolute;
  right: 15px;
  width: 64px;
  height: 30px;
  z-index: 1;
}

.btn-done.noPortrait {
  right: 15px;
  top: 10px;
}
.btn-done::after {
  content: '';
  position: absolute;
  top: -2px;
  right: -2px;
  left: -2px;
  bottom: -2px;
  background: radial-gradient(76.87% 41.47% at 40.28% 44.35%, rgba(0, 77, 255, 0.94) 0%, rgba(180, 215, 234, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, radial-gradient(43.36% 35.57% at 11.8% 91.72%, rgba(0, 77, 255, 0.6) 0%, rgba(177, 185, 213, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, radial-gradient(100.16% 72.25% at 27.03% 33.61%, rgba(0, 77, 255, 0.49) 0%, rgba(164, 174, 230, 0.38) 62.09%, rgba(96, 155, 235, 0.47) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
filter: blur(4px);
border-radius: 24px;
    display: inline-block;
  z-index: -1;
}
.btn-navigation {
  box-shadow: inset 0px 7.28412px 10.4592px -6.7238px rgba(255, 255, 255, 0.5), inset 0px -2.42804px 1.68095px -2.61481px rgba(255, 255, 255, 0.75), inset 0px 1.30741px 2.0545px -0.747089px #FFFFFF, inset 0px -15.3153px 12.7005px -11.9534px rgba(96, 68, 145, 0.3), inset 0px 18.3037px 18.6772px -8.96507px rgba(202, 172, 255, 0.3), inset 0px 0.747089px 3.3619px rgba(154, 146, 210, 0.3), inset 0px 0.186772px 7.47089px rgba(227, 222, 255, 0.2);
  backdrop-filter: blur(4px);
  /* Note: backdrop-filter has minimal browser support */
  
  border-radius: 24px;
  z-index: 99999;
  color: white;
  display: grid;
  font-size: 13px;
  font-weight: 500;
  place-items: center;
}
.btn-search {
  display: flex;
  align-items: center;
  gap: 5px;
  pointer-events: none;
  touch-action: none;
}
#btn-category {
  background: rgba(255, 255, 255, 0.04);
  width: 40px;
  height: 30px;
  position: absolute;
  left: calc(100vw / 2 - 78px / 2 + 60px);
}
#btn-category.noPortrait {
  left: unset;
  right: 15px;
}
.pageNavigation-item {
  font-weight: 500;
  font-size: 8px;
  pointer-events: none;
}
.pageNavigation-item.active {
  font-weight: 500;
  font-size: 12px;
}
.bg-button-blur {
  position: absolute;
  width: 100%;
  height: 100%;
  /* background: radial-gradient(76.87% 41.47% at 40.28% 44.35%, #0084F4 0%, rgba(180, 215, 234, 0) 100%), radial-gradient(43.36% 35.57% at 11.8% 91.72%, rgba(0, 132, 244, 0.6) 0%, rgba(177, 185, 213, 0) 100%), radial-gradient(100.16% 72.25% at 27.03% 33.61%, rgba(0, 132, 244, 0.49) 0%, rgba(164, 174, 230, 0.38) 62.09%, rgba(96, 155, 235, 0.47) 100%); */
  filter: blur(4px);
    border-radius: 12px;
    z-index: 0;
    pointer-events: none;
}
#shawdow-item {
  background: rgba(255, 255, 255, 0.32);
  border-radius: 12px;
  position: absolute;
  top: 0;
  left: 0;
}
/* Styled Menu Frame */
#menuframe_list {
  min-height: 182px;
  max-width: 234px;
  background: radial-gradient(
    50% 100% at 50% 100%,
    rgba(130, 124, 255, 0.44) 0%,
    rgba(130, 124, 255, 0.2816) 100%
  );
  box-shadow: 0px -1px 0px rgba(207, 204, 255, 0.5);
  backdrop-filter: blur(20px);
  border-radius: 20px;
  padding: 12px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 10px;
  column-gap: 20px;
  position: fixed;
  top: calc((100vh - 184px) / 2);
  left: calc((100vw - 234px) / 2);
  z-index: 100;
  animation: fadein 0.3s;
  pointer-events: all;
}
@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
#menuframe_list.hidden {
  display: none;
}
.menuframe_list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.menuframe_list-item--boxicon {
  min-width: 60px;
  min-height: 60px;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #fff;
  border-radius: 12px;
  position: relative;
}
.menuframe_list-item--boxicon.add-frame {
  background: linear-gradient(180deg, #6694FF 0%, #004DFF 100%);
}
.menuframe_list-item--boxicon.double_tap {
  border-radius: 50%;
}
.menuframe_list-item--boxicon.double_tap .menuframe_list-item--text {
  font-weight: 500;
  font-size: 8px;
  line-height: 9px;
  text-align: center;
  color: #FF0366;
}
.menuframe_list-item--text {
  font-weight: 700;
  font-size: 10px;
  line-height: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #FFFFFF;
  width: 100%;
  height: 15px;
}
.menuframe_list-item--cout {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: radial-gradient(
      82.45% 82.45% at 74.9% 17.55%,
      rgba(102, 148, 255, 0.94) 0%,
      rgba(0, 77, 255, 0.94) 100%
    )
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  border-radius: 50%;
  font-weight: 500;
  font-size: 15px;
  line-height: 100%;
  text-align: center;
  color: #ffffff;
  position: absolute;
  top: -2px;
  right: -2px;
}
.menuframe_list-item--boxicon--blur {
  position: absolute;
  min-width: 46px;
  min-height: 46px;
  background: linear-gradient(180deg, #6694ff 0%, #004dff 100%);
  filter: blur(16px);
  border-radius: 12px;
  z-index: -1;
  top: 30px;
}

/* ------ */
.bg-frame {
  position: absolute;
  width: 100%;
  height: 100%;
  /* background: rgba(0,0,0,0.5); */
  /* background: radial-gradient(76.87% 41.47% at 40.28% 44.35%, rgba(162, 89, 255, 0.8) 0%, rgba(180, 215, 234, 0) 100%), radial-gradient(43.36% 35.57% at 11.8% 91.72%, rgba(162, 89, 255, 0.8) 0%, rgba(177, 185, 213, 0) 100%), radial-gradient(100.16% 72.25% at 27.03% 33.61%, rgba(162, 89, 255, 0.6) 0%, rgba(164, 174, 230, 0.38) 62.09%, rgba(96, 155, 235, 0.47) 100%);
  backdrop-filter: blur(20px); */
  overflow: hidden;
  border-radius: 18px;
  pointer-events: none;
}
.bg-image {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  z-index: 1;
  background: radial-gradient(76.87% 41.47% at 40.28% 44.35%, rgba(162, 89, 255, 0.8) 0%, rgba(180, 215, 234, 0) 100%), radial-gradient(43.36% 35.57% at 11.8% 91.72%, rgba(162, 89, 255, 0.8) 0%, rgba(177, 185, 213, 0) 100%), radial-gradient(100.16% 72.25% at 27.03% 33.61%, rgba(162, 89, 255, 0.6) 0%, rgba(164, 174, 230, 0.38) 62.09%, rgba(96, 155, 235, 0.47) 100%);
  backdrop-filter: blur(20px);
  background-position-x: 0%;
  background-position-y: 0%;
  transform: scale(1) rotate(0deg);
  opacity: 1;
  z-index: 1;
  mix-blend-mode: unset;
}
.bg-color {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,0.01);
  z-index: 0;
  opacity: 1;
  mix-blend-mode: unset;
}